
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/imagenes/nacho.jpg" class="img-fluid" id="foto-de-perfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Ferracini Ignacio</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mí</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis consectetur laboriosam blanditiis sequi nihil, officia pariatur nam atque cupiditate, qui voluptas impedit possimus numquam maxime architecto dicta ea dolor debitis!</p>
            </span>
        </div>
    </div>

