<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/imagenes/argentina programa.png" id="logo-arg-prog">
        </div>
        <div class="redes">
                <a href=""><img src="../../../assets/imagenes/facebook.png" id="facebook"></a>
                <a href=""><img src="../../../assets/imagenes/instagram.png" id="instagram"></a>
                <a href=""><img src="../../../assets/imagenes/twitter.png" id="twitter"></a>
                <a href=""><img src="../../../assets/imagenes/linkedin.png" id="linkedin"></a>
                <a href=""><img src="../../../assets/imagenes/github.png" id="github"></a>

                <button type="button" class="btn btn-outline-light">Ingresar</button>
        </div>
    </div>
</div>


