<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="50"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'/assets/imagenes/angular.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="60"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'/assets/imagenes/html5.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="60"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'/assets/imagenes/css.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="70"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'/assets/imagenes/javascript.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="65"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'/assets/imagenes/github2.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="80"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'/assets/imagenes/trabajo en equipo.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="70"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'/assets/imagenes/comunicacion.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
   
</div>